<div class='container'>

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">

      <div class="box clearfix">

        <h2>Write your article!</h2>

        <div class="form-group">
          <label for="title">Article Title</label><br/>
          <input name="title" class="form-control" type="text" ng-model="article.title">
        </div>

        <div>
            <div text-angular
              ta-toolbar="[['h1','h2','h3','p','pre','quote'], ['bold', 'italics','underline', 'ul', 'ol','justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent','html','insertImage', 'insertLink', 'insertVideo']]"
              ng-model='article.content' ta-text-editor-setup='setup'>
            </div>
        </div>
        <mentio-menu mentio-for="'htmlContent'"
                    mentio-trigger-char="'@'"
                    mentio-items="players"
                    mentio-search="searchPeople(term)"
                    mentio-select="getPeopleText(item)">
        </mentio-menu>
                <mentio-menu mentio-for="'htmlContent'"
                    mentio-trigger-char="'#'"
                    mentio-items="stats"
                    mentio-search="searchStats(term)"
                    mentio-select="getPeopleText(item)">
        </mentio-menu>

      </div>

    </div>

  </div>

</div>
