<div class='container'>

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">

      <div class="box clearfix">

        <h2>Write your article!</h2>

        <div class="form-group">
          <label for="title">Article Title</label><br/>
          <input name="title" class="form-control" type="text" ng-model="article.title">
        </div>


          <!-- <oi-select oi-options="name for name in playerList | orderBy: name" ng-model="Sport.players" ng-disabled="disabled" ></oi-select>
          <b>gets</b>
          <p>
          <input type="text" name="input" ng-model="amount">
          </p>
          <oi-select oi-options="stat for stat in statList" ng-model="stat.players"></oi-select> -->
          <!-- <text-angular name="wysiwig-form" ng-model="article.content">
          </text-angular>
          <textarea ui-tinymce="tinyMceOptions" mentio mentio-typed-text="typedTerm"
                            mentio-items="playerList | filter:label:typedTerm" ng-model='foo'
                            mentio-iframe-element="iframeElement"></textarea> -->

        <div>
            <div text-angular
              ta-toolbar="[['h1','h2','h3','p','pre','quote'], ['bold', 'italics','underline', 'ul', 'ol','justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent','html','insertImage', 'insertLink', 'insertVideo']]"
              ng-model='article.content' ta-text-editor-setup='setup'>
            </div>
        </div>


        <mentio-menu mentio-for="'htmlContent'"
                    mentio-trigger-char="'@'"
                    mentio-items="players"
                    mentio-search="searchPeople(term)"
                    mentio-select="getPeopleText(item)">
        </mentio-menu>








      </div>

    </div>

  </div>

</div>
