@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans|Lora);

$header-font-stack: "Quattrocento Sans";
$content-font-stack: "Lora";
$super-bright-blue: #FFA500;
$dark-slate-blue: #FFA500;
$darkest-blue: #071022;
$medium-blue: #FFA500;
$neon-green: #2FEFC7;